  
 <!-- <md-card>
  Nom: <md-input #nom (keyup.enter)="text=nom.value"></md-input>

  Codi postal: <md-input #codiPostal (keyup.enter)="codi=codiPostal.value;onChangeText()"></md-input>

  Provincia: <select #provincia
        (change)="onChange($event.target.value)">
      <option value="">Todas</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Madrid">Madrid</option>

    </select>
  </md-card>
-->
  <md-card>
    <md-list class="residencies">
      <md-subheader class="md-no-sticky">Listado de residéncias</md-subheader>

      <md-list-item class="md-2-line" *ngFor="let res of residencies"
          (click)="gotoResidencia(res)">
        <div class="md-list-item-text">
          <b class="list-name">{{res.nom}}</b><br>
          <span class="discreet">{{res.direccio}}, {{res.codi_postal}}, {{res.poblacio}}</span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>
