  
  
  Nom: <input #nom (keyup.enter)="text=nom.value">

  Codi postal: <input #codiPostal (keyup.enter)="codi=codiPostal.value;onChangeText()">

  Provincia: <select #provincia
        (change)="onChange($event.target.value)">
      <option value="">Todas</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Madrid">Madrid</option>

    </select>
  
  <h2>My residencies de {{text}}</h2>
  <ul class="residencies">
    <li *ngFor="let res of residencies"
        (click)="gotoResidencia(res)">
      <span class="badge">{{res.id}}</span> {{res.nom}}
    </li>
  </ul>
